# Prerequisites
*.d


# Compiled Object files
*.slo
**/CMakeFiles/**
*.cmake
*.lo
*.o
*.obj
**__pycache__/**
# Precompiled Headers
*.gch
*.pch
.idea/**
*.log
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app

# Environment
**/.vagrant/**