# Prerequisites
*.d

# Compiled Object files
cmake_install.txt
helloworld
CMakeCache.txt
Makefile
*.slo
**/CMakeFiles/**
*.cmake
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app